* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Playfair Display', serif;
}

button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 320px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 501px) {
  .container {
    max-width: 440px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 570px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 870px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

html {
  height: 100%;
}

body {
  padding-bottom: 83px;
  position: relative;
  min-height: 100%;
}

.header {
  padding: 32px 0;
  margin-bottom: 48px;
}

@media (max-width: 768px) {
  .header {
    margin-bottom: 16px;
  }
}

@media (max-width: 500px) {
  .header {
    margin-bottom: 8px;
  }
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__inner .logo,
.header__inner .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 24px;
}

.content__head .head-title {
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #121221;
}

@media (max-width: 768px) {
  .content__head .head-title {
    font-size: 24px;
    line-height: 28px;
  }
}

.content__head .head-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #000000;
}

.content__head .head-btn span {
  font-family: "Roboto", serif;
  margin-right: 4px;
}

@media (max-width: 768px) {
  .content__head .head-btn {
    font-size: 12px;
  }
  .content__head .head-btn span {
    display: none;
  }
}

@media (max-width: 500px) {
  .content__head .head-btn {
    font-size: 0;
  }
}

.content__head .head-btn img {
  margin-left: 10px;
}

.content__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}

@media (max-width: 768px) {
  .content__body {
    margin: 0 -10px;
  }
}

@media (max-width: 500px) {
  .content__body {
    margin: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.content__body .card {
  margin: 0 15px;
  margin-bottom: 72px;
}

@media (max-width: 768px) {
  .content__body .card {
    margin: 0 10px;
    margin-bottom: 48px;
  }
}

@media (max-width: 500px) {
  .content__body .card {
    margin: 0;
    margin-bottom: 32px;
  }
}

.content__body .card:last-child {
  margin-bottom: 93px;
}

@media (max-width: 768px) {
  .content__body .card:last-child {
    margin-bottom: 48px;
  }
}

@media (max-width: 500px) {
  .content__body .card:last-child {
    margin-bottom: 32px;
  }
}

.card {
  width: 270px;
}

@media (max-width: 768px) {
  .card {
    width: 203px;
  }
}

@media (max-width: 500px) {
  .card {
    width: 140px;
  }
}

.card__img {
  width: 100%;
  max-width: 100%;
  margin-bottom: 16px;
}

@media (max-width: 500px) {
  .card__img {
    margin-bottom: 8px;
  }
}

.card__title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #121221;
  margin-bottom: 16px;
}

@media (max-width: 768px) {
  .card__title {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (max-width: 500px) {
  .card__title {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 12px;
  }
}

.card__spans {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
}

@media (max-width: 500px) {
  .card__spans {
    margin-bottom: 8px;
  }
}

.card__span {
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #949494;
}

@media (max-width: 500px) {
  .card__span {
    font-size: 8px;
    line-height: 10px;
  }
}

.card__span:first-child {
  margin-right: 16px;
}

.card__text, .card__btn {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  color: #444444;
}

@media (max-width: 500px) {
  .card__text, .card__btn {
    font-size: 12px;
    line-height: 18px;
  }
}

.card__text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  line-clamp: 7;
  box-orient: vertical;
}

@media (max-width: 768px) {
  .card__text {
    -webkit-line-clamp: 6;
    line-clamp: 6;
  }
}

@media (max-width: 500px) {
  .card__text {
    -webkit-line-clamp: 5;
    line-clamp: 5;
  }
}

.card__btn {
  color: #121221;
  font-weight: bold;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #F8F8F8;
  padding: 32px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer__text {
  color: #949494;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}
/*# sourceMappingURL=styles.css.map */